$navbar-default-bg: lightblue;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-size: 2em;
  color: green;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}

#logo:hover {
  color: darkgreen;
  text-decoration: none;
  background-color: inherit;
}

.nav.navbar-nav.navbar-right li a {
  font-size: 1.7em;
  font-weight: bold;
  color: red;
}

.nav.navbar-nav.navbar-right li a:hover {
  background-color: black;
}

.btn-extra {
  font-size: 1.7em;
  background-color: lightgreen;
}

.table {
  margin-top: 20px;
}
