@import "bootstrap";

.navbar {
  background: lightblue;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: green;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}

#logo:hover {
  color: darkgreen;
  text-decoration: none;
  background-color: inherit;
}

.nav-item {
  font-size: 1.2em;
}

.nav-item:hover {
  background-color:inherit;
  font-weight: bold;
}

.btn-extra {
  font-size: 1.7em;
  background-color: lightgreen;
}

.table {
  margin-top: 20px;
}
